/* src/app/navbar/navbar.component.css */

.nav {
    background: #002447;
    position: fixed;
    z-index: 20;
    width: -webkit-fill-available;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    color: white;
    align-items: baseline
}

nav a {
    color: white;
    margin-right: 10px;
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
}