<!-- src/app/checkout/checkout.component.html -->

<header>
    <h3>Checkout</h3>
</header>
<main>
    <section class="checkout-form">
        <form [formGroup]="checkoutForm" (ngSubmit)="onSubmit()">
            <div class="form-control">
                <label for="checkout-email">E-mail</label>

                <input id="email" id="checkout-email" formControlName="email" type="email" />
                <small *ngIf="
            checkoutForm.get('email')?.invalid &&
            (checkoutForm.get('email')?.dirty ||
              checkoutForm.get('email')?.touched)
          ">
                    <span *ngIf="checkoutForm.get('email')?.errors?.['required']" class="text-red-500">Email is
                        required.</span>
                    <span *ngIf="checkoutForm.get('email')?.errors?.['email']">Enter a valid email.</span>
                </small>
            </div>

            <div class="form-control">
                <label for="phone">Phone</label>
                <input id="phone" formControlName="phone" type="text" />
                <small *ngIf="
            checkoutForm.get('phone')?.invalid &&
            (checkoutForm.get('phone')?.dirty ||
              checkoutForm.get('phone')?.touched)
          ">
                    <span *ngIf="checkoutForm.get('phone')?.errors?.['required']" class="text-red-500">Phone number is
                        required.</span>
                    <span *ngIf="checkoutForm.get('phone')?.errors?.['pattern']">Enter a valid phone number.</span>
                </small>
            </div>

            <div class="form-control">
                <label for="name">Name</label>
                <input id="name" formControlName="name" type="text" />
                <small *ngIf="
            checkoutForm.get('name')?.invalid &&
            (checkoutForm.get('name')?.dirty ||
              checkoutForm.get('name')?.touched)
          ">
                    <span *ngIf="checkoutForm.get('name')?.errors?.['required']" class="text-red-500">Full name is
                        required.</span>
                </small>
            </div>

            <div class="form-control">
                <label for="address">Address</label>
                <input id="address" formControlName="address" type="text" />
                <small *ngIf="
            checkoutForm.get('address')?.invalid &&
            (checkoutForm.get('address')?.dirty ||
              checkoutForm.get('address')?.touched)
          ">
                    <span *ngIf="checkoutForm.get('address')?.errors?.['required']" class="text-red-500">Address is
                        required.</span>
                </small>
            </div>

            <div class="form-control">
                <label for="city">City</label>
                <input id="city" formControlName="city" type="text" />
                <small *ngIf="
            checkoutForm.get('city')?.invalid &&
            (checkoutForm.get('city')?.dirty ||
              checkoutForm.get('city')?.touched)
          ">
                    <span *ngIf="checkoutForm.get('city')?.errors?.['required']" class="text-red-500">City is
                        required.</span>
                </small>
            </div>
            <div class="form-control-btn">
                <button type="submit" (click)="checkout()">Checkout</button>
            </div>
        </form>
    </section>

    <section class="checkout-details" *ngIf="cartItems.length > 0; else emptyCart">
        <div class="checkout-details-inner">
            <div class="checkout-lists" *ngFor="let item of cartItems">
                <div class="card">
                    <div class="card-image">
                        <img src="{{ item.product.imageUrl }}" alt="" />
                    </div>
                    <div class="card-details">
                        <div class="card-name">{{ item.product.name }}</div>
                        <div class="card-price">${{ item.product.price }}</div>
                        <div class="card-wheel">
                            <button (click)="decreaseQuantity(item.product.id)">-</button>
                            <span>{{ item.quantity }}</span>
                            <button (click)="increaseQuantity(item.product.id)">+</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="checkout-total">
                <h6>Total</h6>
                <p>{{ totalCost() | currency }}</p>
            </div>
        </div>
    </section>
</main>
<ng-template #emptyCart>
    <p>Your cart is empty.</p>
</ng-template>